<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-content">
      <div class="title">
        <h1>
          <span class="ion-margin-end">
            @
          </span>
          {{ title }}
        </h1>
      </div>
      <div class="menu">
        <i-link [routerLink]="'/tabs/starships'" routerLinkActive="active-link">
          Starships
        </i-link>
        <i-link [routerLink]="'/tabs/characters'" routerLinkActive="active-link">
          Characters
        </i-link>
        <i-link [routerLink]="'/tabs/films'" routerLinkActive="active-link">
          Films
        </i-link>
      </div>
    </div>
  </ion-toolbar>
</ion-header>